{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="space-medium">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
          <div class="section-title">
            <h1 class="heading-line">Beauty Salon Services</h1>
            <p class="mb40">Dolor sit amet consectetur adipiscing uspendisse volutpat feliscommodo bibendum odionunc tincidu.</p>
            <a href="{% url 'servicepage:service' %}" class="btn btn-default">view services</a> </div>
        </div>

        <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            {% for service in services %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="service-block mb60 outline">
                <div class="service-caption pinside40">
                  <h2 class="service-title"><a href="{% url 'servicepage:service_detailspage' service.pk %}" class="title">{{service.name}}</a></h2>
                  <p class="mb40">{{service.details|truncatechars:50}}</p>
                  <a href="{% url 'servicepage:service_detailspage' service.pk %}" class="btn-link">Read More</a> </div>
                <div class="service-img"> <img src="{{service.image.url}}" class="img-responsive" alt=""> </div>
              </div>
            </div>
          {% endfor %} 
        
          </div>
        </div>
      </div>
    </div>





  </div>



{% endblock %}