{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="hero-section">
    <!-- navigation -->
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <div class="hero-caption">
            <h1 class="hero-title">Looking Professional Beauty Salon?</h1>
            <p class="hero-text">Beauty salon provide you wide range of beauty services like Facial, hair style, waxing, makeup etc...Beauty salon provide you wide range of beauty services like Facial, hair style, waxing, makeup etc...</p>
            <a href="{% url 'servicepage:service' %}" class="btn btn-default">view services</a> </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}
